language: c

matrix:
  include:
    # works on Precise and Trusty
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-7
            - g++-7
      env:
        - MATRIX_EVAL="export PREFIX=~/.local CC=gcc-7 CXX=g++-7"
    # works on Trusty
    - os: linux
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-4.0
          packages:
            - clang-4.0
      env:
        - MATRIX_EVAL="export PREFIX=~/.local CC=clang-4.0 CXX=clang++-4.0"

before_install:
    - eval "${MATRIX_EVAL}"
    - sudo apt-get update -qq
    - sudo apt-get install -qq elfutils libelf-dev libreadline-dev linux-headers-generic linux-libc-dev
    # Generate the header since one is missing on the Travis instance
    - sudo mkdir -p /usr/include/linux
    - printf "%s\n" \
             "#ifndef _LINUX_MEMFD_H" \
             "#define _LINUX_MEMFD_H" \
             "" \
             "#define __NR_memfd_create 319" \
             "#define SYS_memfd_create __NR_memfd_create" \
             "" \
             "#define MFD_CLOEXEC             0x0001U" \
             "#define MFD_ALLOW_SEALING       0x0002U" \
             "" \
             "#endif /* _LINUX_MEMFD_H */" | sudo tee /usr/include/linux/memfd.h

script:
    - make
    - make tests
    - make clean
    - make debug
    - make tests
    - make install
    - make uninstall
    - make dist
